<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/css/bootstrap-datepicker.css" rel="stylesheet">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/js/bootstrap-datepicker.js"></script>

</head>
    <body>
        <form action="{% url 'djangoapp:submit_review' %}" method="post">
            <div class="container"> 
              {% csrf_token %}
              <h1>Add Review</h1>
              <hr>
              <div class="form-group"> 
                  <label for="name"><b>Name</b></label>
                  <input type="text" class="form-control" placeholder="Enter Name: " name="name" required> 
                  <label for="content"><b>Content</b></label>
                  <input type="text" class="form-control" placeholder="Enter Content: " name="content" required> 
                  {% if message %}
                  <div class="alert alert-warning"> 
                      {{ message }}
                  </div>
                  {% endif %}
                  <button class="btn btn-primary" type="submit">Submit Review</button> 
              </div>
            </div>
        </form>
    </body>
</html>